html{
    background-color: indigo;
}
body {
    background-color: lightgrey;
    margin: 0;
}
body.container{
    padding: 0;
}
header {
    color: #efefef;
}
header span{
    padding: 0;
    color: white;
    background-color: black;
    display: inline;
}

.titular {
    background-image: url("img/particles-1373684_1280-1061x707.jpg");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-color: black;
    height: 450px;
    padding: 140px 30px 0;
}
a.boton:link,
a.boton:visited {
    background-color: darkslateblue;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a.boton:hover,
a.boton:active {
    background-color: indigo;
}
h2 {
    font-size: 1.4rem;
}

h1, h2 {
    color: indigo;
}
p {
    text-align: justify;
}
main {
    background-color: whitesmoke;
}
section {
    padding: 20px;
}

.secFondoBco {
    background-color: white;
}

hr {
    margin: 20px 0;
}

footer {
    font-size: small;
    background-color: #333;
    color: #ddd;
    padding: 20px;
}

footer a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #ccc;
}

footer a:hover {
    color: white;
}