html {
    background-color: indigo;
}

body {
    background-color: whitesmoke;
    margin: 0;
}

body.container {
    padding: 0;
}

header {
    color: #efefef;
}

header span {
    padding: 0;
    color: white;
    background-color: black;
    display: inline;
}

.carousel-item {
    min-height: 330px;
}

/* Extra small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up)*/
@media screen and (min-width: 576px) {
    .carousel-item {
        height: 330px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
    .carousel-item {
        height: 460px;
    }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
    .carousel-item {
        height: 580px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
    .carousel-item {
        height: 650px;
    }
}

/*
.interna .carousel-inner .carousel-item {
    height: 330px;
}*/
.carousel-item img {
    position: absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
}

.carousel-caption {
    background-color: indigo;
    padding: 20px;
}

.carousel-caption h2 {
    color: whitesmoke;
}

.carousel-caption p {
    text-align: center;
}
.tab-pane{
    margin-top: 16px;
}
a.boton:link,
a.boton:visited {
    background-color: darkslateblue;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a.boton:hover,
a.boton:active {
    background-color: indigo;
}

h2 {
    font-size: 1.4rem;
}

h1,
h2,
h3 {
    color: indigo;
}

h1,
h2,
h3,
h4,
h5 {
    line-height: 2rem;
    margin-top: 1rem;
}

p {
    text-align: justify;
}

.img-thumbnail {
    margin: 12px;
}

main {
    margin: 20px;
}

section {
    padding: 20px;
}

hr {
    margin: 20px 0;
}

footer {
    font-size: small;
    background-color: #343a40;
    color: #ddd;
    padding: 36px 36px 14px;
}

footer a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #ccc;
}

footer a:hover {
    color: white;
}
#autor{
    text-align: right;
}
@media screen and (max-width: 768px) {
    #autor{
        text-align: left;
    }
}
.card{
    margin-bottom: 12px;
}