body {
    background-color: lightgrey;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    /*background-color: slateblue;*/
    color: #ccc;
}

.titular {
    background-image: url("img/particles-1373684_1280-1061x707.jpg");
    background-position: bottom;
    background-color: indigo;
    max-height: 450px;
    min-height: 300px;
    padding: 80px 30px 0;
    margin-bottom: -106px;
}

nav a#nav-logo {
    background-image: url(img/html5css3-147x88.png);
    display: block;
    width: 150px;
    height: 90px;
    margin: 10px;
    background-repeat: no-repeat;
}

nav ol {
    background-color: #333;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ol li {
    float: left;
    border-right: 1px solid lightgrey;
}

nav ol li a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #ccc;
    display: block;
    padding: 10px 14px;
    text-align: center;
    text-decoration: none;
}

nav ol li a:hover {
    color: #333;
    background-color: white;
}

.active {
    background-color: indigo;
    color: white;
}

a.boton:link,
a.boton:visited {
    background-color: darkslateblue;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a.boton:hover,
a.boton:active {
    background-color: indigo;
}

h1, h2 {
    padding: 0 30px;
    color: white;
}

h2 {
    font-size: 1.4rem;
}

h3, h4 {
    color: indigo;
}
p {
    text-align: justify;
}
main {
    background-color: whitesmoke;
}
section {
    padding: 20px;
}

.secFondoBco {
    background-color: white;
}

hr {
    margin: 20px 0;
}

footer {
    font-size: small;
    background-color: #333;
    color: #ddd;
    padding: 20px;
}

footer a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #ccc;
}

footer a:hover {
    color: white;
}

@media screen and (min-width: 1070px) {
    body {
        width: 1060px;
    }
}

@media screen and (max-width: 760px) {

    nav ol,
    nav ol li {
        float: none;
    }

    nav ol li a {
        font-size: 16px;
    }
}